[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/elixir"]
	path = vim/bundle/elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule "vim/bundle/clojure-highlight"]
	path = vim/bundle/clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight
[submodule "vim/bundle/clojure-static"]
	path = vim/bundle/clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule "vim/bundle/sexp"]
	path = vim/bundle/sexp
	url = https://github.com/guns/vim-sexp
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/bundle/varnish"]
	path = vim/bundle/varnish
	url = https://github.com/nwjsmith/vim-varnish
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/classpath"]
	path = vim/bundle/classpath
	url = https://github.com/tpope/vim-classpath
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/bundle/fireplace"]
	path = vim/bundle/fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/haml"]
	path = vim/bundle/haml
	url = https://github.com/tpope/vim-haml
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim/bundle/rust"]
	path = vim/bundle/rust
	url = https://github.com/wting/rust.vim
[submodule "vim/bundle/golang"]
	path = vim/bundle/golang
	url = https://github.com/jnwhiteh/vim-golang
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "dircolors"]
	path = dircolors
	url = https://github.com/seebi/dircolors-solarized
[submodule "vim/bundle/vinegar"]
	path = vim/bundle/vinegar
	url = https://github.com/tpope/vim-vinegar
