{:deps {org.clojure/clojure {:type :mvn :version "1.8.0"}}
 :providers {:mvn {:repos {"central" {:url "https://repo1.maven.org/maven2/"}
                           "clojars" {:url "https://clojars.org/repo/"}}}}}
